
body {
  background-color: lightgreen;
  text-align: center;
}


.selected
{
  background-color: #4caf50;
  Vertical Size: 6px;
  Horizontal Size: 12px;
Border Size: 1px;
width: 150px;
color: white;
margin: 10px;
cursor: pointer;
border-radius: 5%;
 text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


li{
list-style: none;
border: 1px;
background-origin: border-box;

  }
