/*
Colors used
Background Color (Red): #b0aea9
Text Color (Blue): #3339db
Button Background (Yellow): #080808
Font: font-family: 'Quicksand', sans-serif;
*/


:root {
  --bgcolor: #b0aea9;
  --textcolor: #3339db;
  --h1color: #ffffff;
  --h5color: #FFFFFF;
  --buttonbg: #080808;
  --font: 'Quicksand', sans-serif;
}


body {
  background-color: var(--bgcolor);
  color: var(--h1color);
  font-family: var(--font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  margin: 20px;
}
ul {
  list-style: none;
}
.list-group {

  margin-top: 200px;

}


.list-group-item {
  border: none;
  width: 75%;
	height: 5%
  padding: 12px 28px;
  font-family: inherit;
  color: var(--textcolor);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  /* -webkit-transition-duration: 0.4s; /* Safari */ */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--buttonbg);
  border: 3px solid var(--textcolor);
  border-color: var(--textcolor);

}
button.btn.btn-block {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 4px;
  color: white;
  margin: 270px;
	font-style: normal;
	text-align: center;

}
#pokemonModal {
  color: var(--h5color);
}

.page-container{
  margin-top: 60px;
  min-width: 260px;
  margin-top: 60px!important;
}
