/*  font-family:font-family: 'Roboto', sans-serif;  */
/* font-family: 'Press Start 2P', cursive; */
body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgreen;
}
p {
  margin-top: 10px;

}
h1 {
  font-family: 'Press Start 2P', cursive;
  color:#fff;
  text-align: center;
  }

.list-group-item {
  padding:0 0;
  border:none;
}


.btn-list {
  min-width:220px;
  height:54px;
  border: 1px solid #8e8127;
  display:block;
  text-transform: capitalize;
  font-size:15px;
}
.modal-close {
  display:block;
  float:right;
}

.pokemon-list {
  padding:0 0;
  margin: 0 auto;
  width:90%;
}
.col {
  margin-bottom:20px;
}

.form-control {
  margin:10px auto;;
  height:32px;
  max-width:250px;
  border:1px solid #cecece;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline:none;
}
/* Modal Styles Start */
#modal-container {
  display: none;
}
#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(109, 145, 212, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.btn btn-secondary btn-sm {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pokemon-image {
  max-width:50%;
  width:200px;
}


.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}
.modal-close:hover {
  cursor: pointer;
}
.modal h1 {
  margin-top: 0;
}
.modal p {
  margin-bottom: 0;
}
/* Modal Styles End */
/* Modal Element Styles */
/* Media Styles */
@media all and (max-width: 500px) {
  .list-wrapper {
    width:100%;
    text-align:center;
  }
  .btn-list{
    height: 60px;
    border: 1px solid #8e8127;
    font-size: 20px;
    width: 250px;
    line-height: 0.1em;
    margin:0 auto;
  }
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .pokemon-list {
    padding:0 0;
  }

  }
  .btn-list{
    height: 60px;
    font-size: 20px;
    width: 250px;
    line-height: 0.1em;
    margin:0 auto;
}


@media all and (min-width: 800px) and (max-width: 1024px){ /* IPAD Pro Styling */

  .btn-list {
    height: 60px;
    font-size: 20px;
    width: 250px;
    line-height: 0.1em;
    margin:0 auto;
  }
}

li {
  list-style: none;
}
